#map {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#form {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 500;
}

#counterWrap {
	position: absolute;
	right: 1%;
	top: 0;
}
